{% extends 'base.html.twig' %}

{% block title %}HasMints Team{% endblock %}

{% block body_id 'opensource' %}

{% block body %}
{#<div class="row">#}
{#    <div class="container pb-5">#}
{#        <div class="row">#}
{#            <div class="col col-12">#}
{#                <h1>HasMints Team</h1>#}
{#                <h2 class="mb-5">Your web3 Experts</h2>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row justify-content-center">#}
{#            <div class="col col-12 col-md-6 col-lg-4">#}
{#                <div class="card">#}
{#                    <div class="card-header">#}
{#                        <h1>Luc</h1>#}
{#                        <h2>Founder and Developer</h2>#}
{#                    </div>#}
{#                    <div class="card-footer">#}
{#                        Luc is a dedicated NFT creator and full-time web developer, channeling his passion for innovation into groundbreaking projects at HasMints. With over 20 years of experience in PHP development, Luc is a seasoned expert in frameworks including Symfony, Laravel, Zend Framework, Laminas, and his own custom framework. His expertise extends to optimizing cloud environments for blockchain applications, ensuring data integrity and confidentiality in decentralized systems. Luc is committed to leveraging emerging technologies to shape the future of decentralized ecosystems. Let's connect and explore how Luc's expertise can drive forward-thinking solutions in the world of NFTs and blockchain.#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{% endblock %}
