{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
{#    <img class="luc-flipped" src="images/luc-flip.png" />#}
    <div class="top"></div>
    <div class="page-header text-center">
        <h1>
            <span class="has">Has</span><span class="mints">Mints</span>
        </h1>
        <h2>NFT Collections - Articles & Interviews - Open Source Code</h2>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="jumbotron">

            </div>
        </div>
    </div>
{% endblock %}
