@import "variables";
@import "../../vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "./bootswatch/bootswatch";

:root {
  --font-heading: 2.5rem;
  --font-title: 2rem;
  --font-subtitle: 1.5rem;
  --font-default: 19px;
  --secondary-color: #ecf0f1;
  --text-color: #2c3e50;
  --blue: #007bff;
  --red: #dc3545;
  --yellow: #ffc107;
  --green: #28a745;
  --success: var(--green);
  --navbar-margin-bottom: 21px;
  --navbar-toggler-padding-x: .75rem;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-7500: #e9ecec;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;
}

@font-face {
  font-family: 'BM Hanna';
  src: url('../fonts/bm-hanna/bm-hanna-webfont.eot');
  src: url('../fonts/bm-hanna/bm-hanna-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bm-hanna/bm-hanna-webfont.woff2') format('woff2'),
  url('../fonts/bm-hanna/bm-hanna-webfont.woff') format('woff'),
  url('../fonts/bm-hanna/bm-hanna-webfont.ttf') format('truetype'),
  url('../fonts/bm-hanna/bm-hanna-webfont.svg#bm_hanna_ttfregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: $has-mints-blue;
}

/* Basic styles
   ------------------------------------------------------------------------- */
a {
  color: $has-mints-green;
}

h1, .h1 {
  font-family: 'BM Hanna', sans-serif;
  font-size: var(--font-heading);
}

h2, .h2 {
  font-family: 'BM Hanna', sans-serif;
  font-size: var(--font-subtitle);
}

h3, .h3 {
  font-size: var(--font-subtitle);
}

h4, .h4 {
  font-size: 20px;
}

p, ul, ol {
  font-size: var(--font-default);
  margin-bottom: 1.5em
}

strong {
  font-weight: bold;
}

li:not(.nav-item) {
  margin-bottom: 0.5em
}

code {
  background: var(--secondary-color);
  border-radius: 4px;
  color: var(--text-color);
  font-size: 90%;
  padding: 2px 4px;
}

.text-danger, .text-danger:hover {
  color: var(--red);
}

i {
  margin-right: 0.25em
}

.table.table-middle-aligned th,
.table.table-middle-aligned td {
  vertical-align: middle;
}

.doclink {
  color: inherit
}

a:hover {
  text-decoration: none;
}

.help-block {
  display: block;
}

.alert-danger ul {
  margin-bottom: 0;
}

.btn {
  padding: 10px 15px;
}

form legend {
  font-size: 22.5px;
}

/* Utilities
   ------------------------------------------------------------------------- */
.jumbotron {
  padding: 1.5rem 1rem
}

.well {
  background-color: var(--secondary-color);
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}

/* Page elements
   ------------------------------------------------------------------------- */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body:not(#homepage) {
  padding-top: 110px
}

header nav.navbar {
  margin-bottom: var(--navbar-margin-bottom);
}
header nav.navbar .navbar-brand {
  padding: 0;
}
header nav.navbar .navbar-toggler {
  padding: 0 var(--navbar-toggler-padding-x);
}
header nav.navbar .nav-item {
  font-size: 18px;
  margin-left: 0;
}

.modal-backdrop {
  /* needed to lower the default 1,040 value which interferes with some styles */
  z-index: 1024;
}

.body-container {
  flex: 1;
  /* needed to prevent pages with a very small height and browsers not supporting flex */
  min-height: 600px
}

.body-container #main h1, .body-container #main h2 {
  margin-top: 0
}

#sidebar .section {
  margin-bottom: 2em
}

#sidebar p {
  font-size: 15px
}

#sidebar p + p {
  margin: 1.5em 0 0
}

.btn-secondary {
  color: #fff;
}

footer {
  background: var(--secondary-color);
  padding-top: 3em;
  padding-bottom: 2em
}

footer p {
  color: var(--gray-700);
  font-size: 18px;
}

footer #footer-resources {
  text-align: right
}

footer #footer-resources i {
  color: var(--gray-700);
  font-size: 28.5px;
  margin-left: 0.5em
}

/* Misc. elements
   ------------------------------------------------------------------------- */
.section.rss a {
  color: var(--orange);
  font-size: 21px;
}

/* Forms
   ------------------------------------------------------------------------- */
.form-control {
  color: var(--gray-700);
  height: 45px;
}

.form-group .form-control:focus {
  color: var(--text-color);
}

.form-group.has-error .form-control {
  border-color: var(--red);
}

.form-group.has-error .control-label {
  color: var(--red);
}

.form-group.has-error .help-block {
  background-color: var(--red);
  color: var(--white);
  font-size: 15px;
  padding: 1em
}

.form-group.has-error .help-block ul,
.form-group.has-error .help-block li {
  margin-bottom: 0
}

.form-group.has-error .help-block li + li {
  margin-top: 0.5em;
}

textarea {
  max-width: 100%
}

/* Page: 'Homepage'
   ------------------------------------------------------------------------- */

body#homepage {
  background-image: url('../images/luc-left.png'),
                    url('../images/diana-right.png'),
                    url('../images/looney-luca-and-siblings.png');
  background-color: $has-mints-blue;
  background-repeat: no-repeat;
  background-size: 200px, 200px, 175px;
  background-position: top left, top right, bottom center;
  background-position-y: 100px, 100px, 100%;
  padding-bottom: 300px;
}

body#homepage .page-header h2 {
  margin-top: 150px;
}


@include media-breakpoint-up(md) {
  body#homepage {
    background-image: url('../images/luc-left.png'),
    url('../images/diana-right.png'),
    url('../images/looney-luca-and-siblings.png');
    background-color: $has-mints-blue;
    background-repeat: no-repeat;
    background-size: 300px, 300px, 200px;
    background-position: top left, top right, bottom center;
    background-position-y: 100px, 100px, 100%;
  }
}

@include media-breakpoint-up(lg) {
  body#homepage {
    background-image: url('../images/luc-flip.png'),
                      url('../images/diana-flip.png'),
                      url('../images/looney-luca-and-siblings.png');
    background-color: $has-mints-blue;
    background-repeat: no-repeat;
    background-size: 300px, 300px, 200px;
    background-position: top left, top right, bottom center;
    background-position-x: 10%, 90%, 50%;
  }
  body#homepage .page-header h2 {
    margin-top: 5px;
  }
}

body#homepage .container-who-mints {
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 27px;
  }
  .btn {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  strong {
    font-family: 'BM Hanna', sans-serif;
    font-size: 26px;
  }
}

body#homepage .container-opensource {
  background-color: white;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 10px;
  text-align: center;
  padding: 50px 35px;

  h3 {
    font-family: 'BM Hanna', sans-serif;
    font-size: 46px;
    margin-bottom: 20px;
  }
  p {
    font-size: 26px;
    strong {
      font-family: 'BM Hanna', sans-serif;
      font-size: 30px;
    }
  }
}

body#homepage .container-web3-projects {
  background-color: white;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 10px;
  text-align: center;
  padding: 50px 35px;

  h3 {
    font-family: 'BM Hanna', sans-serif;
    font-size: 46px;
    margin-bottom: 20px;
  }
  p {
    font-size: 26px;
    strong {
      font-family: 'BM Hanna', sans-serif;
      font-size: 30px;
    }
  }
}

body#homepage .container-richlists,
body#homepage .container-ripplepunks,
body#homepage .container-looneyluca,
body#homepage .container-nobased,
body#homepage .container-cryptopunks,
body#homepage .container-basealiens {
  p {
    font-size: 24px;
    strong {
      font-family: 'BM Hanna', sans-serif;
      font-size: 30px;
    }
  }
  a {
    font-family: 'BM Hanna', sans-serif;
    border: none;
    font-size: 26px;
    padding: 10px 20px 5px 20px;
    margin-bottom: 10px;

    i {
      margin: 0;
      padding: 0;
    }
  }
}

body#homepage .container-richlists {
  background-color: #222222;
  p {
    color: #ffffff;
  }
  strong {
    color: #ffff11;
  }
  a.btn-primary {
    background-color: #0C6DFD;
  }
}

body#homepage .container-ripplepunks {
  background-color: #3BA1E1;
  p {
    color: #092536;
  }
  a {
    background-color: #0A344D;
  }
}

body#homepage .container-nobased {
  background-color: #111111;
  p {
    color: #e2f3ff;
  }
  a {
    background-color: #333333;
  }
}

body#homepage .container-looneyluca {
  background-color: #F27D30;
  p {
    color: #ffefe2;
  }
  a.btn-primary {
    background-color: #ff9f61;
  }
  a.btn-secondary {
    background-color: #ffb488;
  }
}

body#homepage .container-cryptopunks {
  background-color: #414141;
  p {
    color: #eeeeee;
  }
  a {
    background-color: #111111;
  }
}

body#homepage .container-basealiens {
  background-color: #3150a1;
  p {
    color: #aec2f2;
  }
  a.btn-primary {
    background-color: #3d65ce;
  }
  a.btn-secondary {
    background-color: #6c91f1;
  }
}


body#homepage .page-header {
  justify-content: space-between;
  padding-bottom: 9.5px;
  margin: 0 0 30px;
  text-align: center;
  height: 240px;
}
body#homepage .page-header h1 {
  font-size: 82px;
  margin: 40px 0 0 0;
}
body#homepage .page-header h2 {
  font-size: 34px;
}
body#homepage .page-header h1 span.has {
  color: #032F4C;
}
body#homepage .page-header h1 span.mints {
  color: #013D62;
}
body#homepage .page-header a.language-selector-dropdown-button {
  align-items: center;
  border: 2px solid var(--gray-300);
  border-radius: 4px;
  color: inherit;
  display: inline-flex;
  font-size: 16px;
  line-height: 1;
  padding: 5px 15px;
}
body#homepage .page-header a.language-selector-dropdown-button:hover {
  background: var(--gray-100);
  border-color: var(--gray-800);
}
body#homepage .page-header a.language-selector-dropdown-button .current-language {
  display: inline-flex;
  margin-inline: 5px 10px;
}
body#homepage .page-header .socials {
  margin-top: -20px;
  margin-bottom: 40px;
  color: #7192a7;
  font-family: 'BM Hanna', sans-serif;
  font-size: 26px;
  a.btn {
    padding: 4px 0 0 0;
    color: #7192a7;
    background: none;
    border: none;
    font-size: 26px;
  }
}
body#homepage .container-darker-blue {
  background-color: #adc9db;
}
body#homepage .jumbotron {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 45px 15px;
}
body#homepage .jumbotron .btn {
  font-size: 19px;
  line-height: 1.33333;
  padding: 18px 27px;
  border-radius: 6px;
  margin-top: 20px;
}
body#homepage .jumbotron P {
  margin-bottom: 0;
  font-size: 23px;
  font-weight: 400
}





.row {
  &.row-portfolio-chain {

    i.fa {
      display: block;
      font-size: 48px;
      text-align: center;
    }

    h2 {
      font-size: 36px;
      text-align: center;
      margin: 40px 0 40px 0;
    }

    .card {
      text-align: center;

      .card-header {
        padding: 10px 0;

        h3 {
          font-size: 24px;
          margin: 10px 0;
          padding: 0;
        }

        h4 {
          font-size: 16px;
          font-style: italic;
        }

        p {
          font-size: 13px;
          margin: 10px 0 5px 0;
        }
      }

      .card-body {
        p {
          font-size: 15px;
          margin: 10px 5px 5px 5px;
          padding: 0 5px;
          line-height: 125%;
        }
      }

      .card-footer {
        .btn {
          background-color: #333333;
          color: #eeeeee;
          padding: 6px 10px 7px 10px;
          line-height: 100%;
        }
        p {
          font-size: 16px;
          margin-bottom: 0;
        }
      }
    }
  }
}
